<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--
  ServerProperties pop3 = new ServerProperties("pop.gmail.com", 995, true);
            ServerProperties smtp = new ServerProperties("smtp.gmail.com", 587, true);
  -->
  <appSettings>

    <add key="pop3URL" value="pop.gmail.com" />
    <add key="pop3PORT" value="995"/>
    <add key="pop3UseSSL" value="true"/>
    
  </appSettings>
</configuration>